{% extends "base.html" %} {% load static %} {% block content %}

<div class="page-nav no-margin row">
  <div class="container">
    <div class="row">
      <h2>Create Appointment</h2>
      <ul>
        <li>
          <a href="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li><i class="fas fa-angle-double-right"></i> Book an Appointment</li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Create Appointment</button>
  </form>
</div>

{% endblock %}
