{% extends "base.html" %}
{% load static %}

{% block content %}
         <!--  ************************* Page Title Starts Here ************************** -->
               <div class="page-nav no-margin row">
                   <div class="container">
                       <div class="row">
                           <h2>Our Services</h2>
                           <ul>
                               <li> <a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                               <li><i class="fas fa-angle-double-right"></i> Our Services</li>
                           </ul>
                       </div>
                   </div>
               </div>
       
         <!-- ######## Page  Title End ####### -->
         
    <section class="key-features ky2 department">
        <div class="container">
            <div class="inner-title">

                <h2>Our Key Features</h2>
                <p>Take a look at some of our key features</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-key">
                        <i class="fas fa-heartbeat"></i>
                        <h5>Cardiology</h5>
                        <p>Our service is focused on preventing cardiovascular diseases by implementing proactive strategies, such as healthy lifestyle modifications, regular physical activity, and proper nutrition, to reduce the risk factors and promote overall heart health.</p>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6">
                    <div class="single-key">
                        <i class="fas fa-dumbbell"></i>
                        <h5>Cardiac Rehabilitation</h5>
                        <p>We offer Cardiac rehabilitation service to helps you get back to as full a life as possible after a cardiac event such as a heart attack, heart surgery or stent procedure.</p>
                        <br><br>
                    </div>
                </div>
    
                <!-- <div class="col-lg-4 col-md-6">
                    <div class="single-key">
                        <i class="fas fa-ribbon"></i>
                        <h5>Orthopaedic</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis
                            blandit.</p>
                    </div>
                </div> -->
    
                <div class="col-lg-4 col-md-6">
                    <div class="single-key">
                        <i class="far fa-thumbs-up"></i>
                        <h5>High Quality Service</h5>
                        <p>At carecardio health we deliver exceptional care and personalized services tailored to meet your individual needs..</p>
                        <br><br><br>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6">
                    <div class="single-key">
                        <i class="fas fa-capsules"></i>
                        <h5>Blog and Articles</h5>
                        <p>Our informative blog serves as a reliable source of up-to-date knowledge, offering the latest information and insights regarding a wide range of heart diseases and related topics. </p>
                        <br><br>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="single-key">
                        <i class="fa fa-graduation-cap"></i>
                        <h5>Carecardio Academy</h5>
                        <p>We offers comprehensive training for cardiac healthcare professionals in the cath lab. Our tailored LMS focuses on vital procedures like R&LHC and PCI, emphasizing the scrubbing process, equipping them for success.</p>
                        <br>
                        <a href="/" target="_blank">MEMBER LOGIN</a>
                </div>
    
            </div>


        </div>

    </section>

    {% endblock %}