{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<style>
    body {
        background-color: grey !important;
    }
</style>

<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Account Management</h2>
            <ul>
                <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Password Reset</li>
            </ul>
        </div>
    </div>
</div>

<div class="container bg-white form-layout">
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
</div>
{% endblock %}
