{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<style>
    body {
        background-color: grey !important;
    }
</style>

<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Account Management</h2>
            <ul>
                <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Password Change</li>
            </ul>
        </div>
    </div>
</div>

<div class="container bg-white form-layout">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
    <br>
</div>
<br>

<br>
{% endblock %}
