{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<style>
    body {
        background-color: grey !important;
    }
</style>

<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Account Management</h2>
            <ul>
                <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Password Reset</li>
            </ul>
        </div>
    </div>
</div>

<div class="container bg-white form-layout">
    <h1>{% trans "Password Reset" %}</h1>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few
    minutes.{% endblocktrans %}</p>
</div>
{% endblock %}
