{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<style>
    body {
        background-color: grey !important;
    }

    /* Style for the form container */
    .form-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>

<!-- Page Title Section -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Account Management</h2>
            <ul>
                <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Password Set</li>
            </ul>
        </div>
    </div>
</div>

<!-- Password Set Form Section -->
<div class="container">
    <div class="form-container">
        <h1>{% trans "Set Password" %}</h1>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" class="btn btn-info" value="{% trans 'Set Password' %}" />
        </form>
    </div>
</div>
{% endblock %}
<br>
</body>