{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<style>
    body {
        background-color: grey !important;
    }

    /* Style for the form container */
    .form-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>

<!-- Page Title Section -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Account Management</h2>
            <ul>
                <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Sign Up</li>
            </ul>
        </div>
    </div>
</div>

<!-- Signup Form Section -->
<div class="container">
    <div class="form-container">
        <h1>{% trans "Sign Up" %}</h1>

        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-info" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
    </div>
</div>
<br>
<br>
{% endblock %}