{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Clinicians</h2>
            <ul>
                <li> <a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Available Clinician</li>
            </ul>
        </div>
    </div>
</div>



<section class="with-medical">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 txtr">
                <div class="col-md-6">
                    <div class="form-group mb-30">
                        <ul>
                            {% for clinician in clinicians %}
                                <li>{{ clinician.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>   
            <!-- <div class="col-lg-6 col-md-12">
                <img src="{% static 'home/images/why.jpg' %}" alt="">
            </div> -->
        </div>
    </div>
</section>

    

{% endblock %}