{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Book An Appointment</h2>
            <ul>
                <li> <a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Book An Appointment</li>
            </ul>
        </div>
    </div>
</div>



<section class="with-medical">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 txtr">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="{{ form.clinician.id_for_label }}">Select Clinician:</label>
                      {{ form.clinician }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.name.id_for_label }}">Name:</label>
                        {{ form.date }}
                      </div>
                    <div class="form-group">
                      <label for="{{ form.date.id_for_label }}">Date:</label>
                      {{ form.date }}
                    </div>
                    <div class="form-group">
                      <label for="{{ form.time.id_for_label }}">Time:</label>
                      {{ form.time }}
                    </div>
                    <button type="submit" class="btn btn-info">Schedule Appointment</button>
                  </form>
            </div>   
            <div class="col-lg-6 col-md-12">
                <img src="{% static 'home/images/why.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>

    

{% endblock %}